@page
@model Blazor_With_Cookies.Pages.LogoutModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Logout</title>
</head>
<body>
    <h2>You are logged out</h2>
    <a href="/">Back to Home</a>
</body>
</html>
